<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.estudiantapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APPunts">
        <activity
            android:name=".activities.RewardActivity"
            android:label="Recompenses" />
        <activity
            android:name=".activities.NewApuntActivity"
            android:label="Pujar Nous Apunts" />
        <activity
            android:name=".activities.MyApuntsActivity"
            android:label="Els Meus Apunts" />
        <activity
            android:name=".activities.ApuntActivity"
            android:theme="@style/Theme.APPunts.NoActionBar" />
        <activity
            android:name=".activities.BibliotecaActivity"
            android:label="Biblioteca"
            android:theme="@style/Theme.APPunts.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.APPunts.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewTaskActivity"
            android:label="Nova Tasca" />
    </application>

</manifest>