<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.estudiantapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EstudiantAPP">
        <activity android:name=".activities.ApuntActivity"></activity>
        <activity
            android:name=".activities.BibliotecaActivity"
            android:label="@string/title_activity_assignatura"
            android:theme="@style/Theme.EstudiantAPP.NoActionBar" />
        <activity android:name=".activities.FilterBiblioActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.EstudiantAPP.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewTaskActivity"
            android:label="@string/app_name" />
    </application>

</manifest>